.header {
    background: rgba(68, 68, 68, 0.2);
}

h1 {
    font-family: Digitalt, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 4rem;
    color: #A7CAC7;
    text-shadow: 2px 2px 5px black;
}

@font-face {
    font-family: 'Digitalt';
    src:url('Digitalt-04no.ttf');
    }